table {
    width: 100%;
}

.mat-column-delete {
    width: 32px;
    text-align: center;
    font-weight: bold;
}

.mat-column-edit {
    width: 32px;
    text-align: center;
    font-weight: bold;
}
