<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="">Mini ECommerce App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="basket">Basket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="register" *ngIf="!authService.isAuthenticated">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="login" *ngIf="!authService.isAuthenticated">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" style="margin-right: 5px;" (click)="logout()"
                            *ngIf="authService.isAuthenticated">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success" aria-current="page" routerLink="admin"
                            *ngIf="authService.isAuthenticated">Yönetim Paneli</a>
                    </li>

                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li> -->
                </ul>


                <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->

                <div class="d-flex">
                    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#basketModal"
                        type="submit" (click)="loadComponent()">Basket</button>
                </div>
            </div>
        </div>
    </nav>
    <!-- like render body -->
    <router-outlet></router-outlet>
</div>

<ngx-spinner size="default" name="s1" type="ball-scale-multiple"></ngx-spinner>
<ngx-spinner size="default" name="s2" type="ball-atom"></ngx-spinner>
<ngx-spinner size="default" name="s3" type="ball-spin-clockwise-fade-rotating"></ngx-spinner>

<!-- Modal -->
<!-- <app-baskets></app-baskets> -->
<!-- Dynamic Component Loading -->
<div class="modal fade" id="basketModal" tabindex="-1" aria-labelledby="basketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <ng-template appDynamicLoadComponent></ng-template>
    </div>
</div>