<div class="row">
    <div class="offset-md-3 col-md-6">
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="mb-3">
            <label for="password-confirm" class="form-label">Password Confirm</label>
            <input type="password" class="form-control" id="password-confirm" placeholder="Password Confirm">
        </div>
        <button class="btn btn-primary">Update Password</button>
    </div>
</div>