<div class="row" *ngIf="state">
    <div class="offset-md-3 col-md-6">
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" #txtPassword>
        </div>
        <div class="mb-3">
            <label for="password-confirm" class="form-label">Password Confirm</label>
            <input type="password" class="form-control" id="password-confirm" placeholder="Password Confirm"
                #txtPasswordConfirm>
        </div>
        <button class="btn btn-primary" (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)">Update
            Password</button>
    </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!state">
    Bu link kullanılmamaktadır.
</div>